@model IEnumerable<ProductSQLiteMVC.Models.NorthRegionViewModel>
@{
    ViewData["Title"] = "List Products";
}
<h1>Index</h1>
<h4>@ViewData["Title"]</h4>
<a asp-container="Product" asp-action="Create" class="btn btn-primary float-end my-2">Add Product</a>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>Actions</th>
    </tr>
    @foreach (var product in Model)
    {
            <tr>
                <td>@Html.DisplayFor(model => product.Id)</td>
                <td>@Html.DisplayFor(model => product.Name)</td>
                <td>@Html.DisplayFor(model => product.Description)</td>
                <td>@Html.DisplayFor(model => product.Price)</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                        class="btn btn-info text-white">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                        class="btn btn-danger text-white">Delete</a>
                </td>
            </tr>
    }
</table>