@model ProductMVC.Models.PagedList<ProductMVC.Models.CentralAreaViewModel>
@{
    ViewData["Title"] = "List product";
}
<h1>Central Area</h1>
<h4>@ViewData["Title"]</h4>
<a asp-container="CentralArea" asp-action="Create" class="btn btn-primary float-end my-2">Add Product</a>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Items.First().Id)</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().Name)</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().Description)</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().BuyingPrice)</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().Supplier)</th>
        <th>Manufacturing Date</th>
        <th>Purchasing Date</th>
        <th>Expiration Date</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().PictureFileName)</th>
        <th>@Html.DisplayNameFor(model => model.Items.First().PictureFileName)</th>
        <th>Actions</th>
    </tr>
    @foreach (var Product in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => Product.Id)</td>
            <td>@Html.DisplayFor(model => Product.Name)</td>
            <td>@Html.DisplayFor(model => Product.Description)</td>
            <td>@Html.DisplayFor(model => Product.BuyingPrice)</td>
            <td>@Html.DisplayFor(model => Product.Supplier)</td>
            <td>@Product.ManufacturingDate.ToShortDateString()</td>
            <td>@Product.PurchasingDate.ToShortDateString()</td>
            <td>@Product.ExpirationDate.ToShortDateString()</td>
            <td><img src="/images/@Product.PictureFileName" width="75" /></td>
            <td>@Html.DisplayFor(model => Product.PictureFileName)</td>
            <td>
                <a asp-controller="CentralArea" asp-action="Edit" asp-route-id="@Product.Id"
                    class="btn btn-info text-white">Edit</a>
                <a asp-controller="CentralArea" asp-action="Delete" asp-route-id="@Product.Id"
                    class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
    }
</table>
<nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
    <div>
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize"
                class="btn btn-outline-primary btn-sm">&laquo; Previous</a>
        }
    </div>
    <ul class="pagination pagination-sm mb-0">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                <a asp-action="Index" asp-route-page="@i" asp-route-pageSize="@Model.PageSize" class="page-link">@i</a>
            </li>
        }
    </ul>
    <div>
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize"
                class="btn btn-outline-primary btn-sm">Next &raquo;</a>
        }
    </div>
</nav>
<div class="d-flex justify-content-between align-items-center mt-3">
    <form asp-action="Index" method="get" class="form-inline">
        <label for="pageSize" class="mr-2 small">Records Previous page:</label>
        <select id="pageSize" name="pageSize" asp-for="@Model.PageSize" class="form-control from-control-sm"
            onchange="this.form.submit()">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </form>
    <p class="mb-0 small">[Total Records: @Model.TotalRecords | Current Page: @Model.PageNumber | Total Pages:
        @Model.TotalPages]</p>
</div>
